@charset "UTF8";
@font-face {
    font-family:'Sriracha' ;
    src: url(../fontes/Sriracha/Sriracha-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'Passion One';
    src: url(../fontes/Passion-One/PassionOne-Bold.ttf) format(truetype);
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    height: 200px;
    background-color: 100% 100%;
    position: relative;
}
#cabeçalho{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header h1{
    font-family: 'passion One';
    font-size: 3.1em;
}
header p{
    font-family: Arial, Helvetica, sans-serif;
}
header a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
header a:hover{
    text-decoration: underline;
    color: rgb(99, 99, 99);
}
main{
    font-family: 'Sriracha';
    margin: 70px 0px 50px 0px;
}
div{
   display: block;
   margin:0px 0px 70px 25px;
}
div p{
    font-size: 1.5em;
}
#joana{
    display: block;
    margin-bottom: 70px;
    height: 500px;
    background: url(../imagens/background001.jpg) center no-repeat fixed;
    background-size: cover;

}
article p {
    font-size: 1.5em;
}
#livro{
    display: block;
    margin-bottom:70px;
    height:500px;
    background: url(../imagens/background002.jpg) center no-repeat fixed;
    background-size: cover;
}
.conteudo{
    margin-left: 35px;
    background-color: rgba(0, 0, 0, 0.303);
    width: 300px;
    color: white;
}
footer{
    color:white;
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}