@charset "UTF8";
@font-face {
    font-family: 'passion one';
    src: url(../fontes/Passion-One/PassionOne-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'Sriracha';
    src: url(../fontes/Sriracha/Sriracha-Regular.ttf);
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0px;
}
header h1{
    font-size: 9vw; /*O size definido permite q o conteúdo adapte-se*/
    font-family: 'passion one';
    font-variant: small-caps;/*Todo o título fica maiúsculo porém as primeiras letras ficam maiores*/
}
header p{
    font-size: 1.2em;
}
a{
    color: white;
    font-weight: bold;
}
a:hover{
    color: darkgray;
}
section{
    padding: 10vh 0px 10vh 30px;
    font-family: 'Sriracha';
    font-size: 1.6em;
}
section p{
padding-bottom: 40px;
}
#imagem1{
    background: url(../imagens/background001.jpg) right top fixed;
    background-size: cover;
    box-shadow: inset 7px 7px 7px rgba(0, 0, 0, 0.502);
}
#imagem2{
    background: url(../imagens/background002.jpg)  center fixed;
    background-size: cover;
    box-shadow: inset  5px 5px 7px rgba(0, 0, 0, 0.272);
}
.imagem > p{
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.392);
    padding: 6px;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.601);
}
footer{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 1.2em;
}